{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "exclude": [
        "transform-es2015-classes",
        "transform-regenerator"
      ]
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-comments"
  ]
}
